<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  progkornybeadando-javafx
  %%
  Copyright (C) 2018 Debreceni Egyetem, Informatika Kar
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 1 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-1.0.html>.
  #L%
  -->


<configuration scan="false" debug="false">

<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
</contextListener>

<!-- To enable JMX Management -->
<jmxConfigurator/>

<appender name="console-info" class="ch.qos.logback.core.ConsoleAppender">
   <filter class="ch.qos.logback.classic.filter.LevelFilter">
     <level>INFO</level>
     <onMatch>ACCEPT</onMatch>
     <onMismatch>DENY</onMismatch>
  </filter>
  <encoder>
	<charset>UTF-8</charset> 
        <pattern>%-4relative [%thread] %boldBlue(%.-5level) %logger{35} - %green(%msg) %n</pattern>
  </encoder>
</appender>  

<appender name="console-warning" class="ch.qos.logback.core.ConsoleAppender">
  <filter class="ch.qos.logback.classic.filter.LevelFilter">
     <level>WARN</level>
     <onMatch>ACCEPT</onMatch>
     <onMismatch>DENY</onMismatch>
  </filter>
  <encoder>
	<charset>UTF-8</charset> 
        <pattern>[%d{ddMMMyyyy HH:mm:ss.SS}] %red(%.-5level) %logger{45} - %green(%msg) %n</pattern>
  </encoder>
</appender>


<root level="info">
    <appender-ref ref="console-info"/>
</root>
<root level="warning">
    <appender-ref ref="console-warning"/>
</root>

</configuration>
